body {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 300;
    fill: #242424;
    text-align: center;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
    cursor: default;
}
/*for dotMatrixChart, from https://github.com/arpitnarechania/d3-dotmatrix/blob/master/dist/DotMatrix.css*/

path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

/*.tooltip {
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    font-size: 12px;
    left: 30px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 5px;
    z-index: 10;
    display: block;
    opacity: 0;
    fill: #333333;
}*/

.tooltip{
    color: black;
    background-color: white;
    background: white;
    position: absolute;
    align-content: center;
    margin-right: 10%;
    margin-left: 10%;
    border: green;
    }

.title{
    font-size:16px;
    }
g{
    visibility: visible;
}

.xScale > g{
    white-space: nowrap;
    overflow: hidden;
}

.xScale > g >text{
    height: 1.2em; /* exactly one lines */
    width: 70px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
/*for radarChart*/
.legend {
    width: 300px;
    font-family: 'Raleway', sans-serif;
    fill: #333333;
}
/*for the heatmap from http://bl.ocks.org/tjdecke/5558084*/
rect.bordered {
    stroke: #E6E6E6;
    stroke-width:2px;   
  }

  text.mono {
    font-size: 9pt;
    font-family: Consolas, courier;
    fill: #aaa;
  }

  text.axis-workweek {
    fill: #000;
  }

  text.axis-worktime {
    fill: #000;
  }