{% extends "master.html" %}
{% block body %}

<div class="row">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <p class="h3">Select fields to export:</p>

                        <form class="form-inline mb-4 mr-4 ml-4 mt-3">
                            <div class="form-group">
                                <label for="joinSelect" class="mr-2">Join type: </label>
                                <select class="form-control form-control-sm" id="joinSelect">
                                    <option>inner</option>
                                </select>
                            </div>
                        </form>

                        <table class="table table-sm table-responsive overflow-auto mh-100" id="selection-sidebar">
                            <!-- explore.js generates sidebar with list of views and column names -->
                        </table>

                    </div>

                    <div class="col-9">
                        <div class="row">
                            <div class="col">
                                <p class="h3">Preview data:</p>
                            </div>
                            <div class="col">
                                <div class="float-right">
                                    <a class="btn btn-lg btn-primary" href="#" id="update-preview-button">Update preview</a>
                                    <button class="btn btn-lg btn-danger" type="submit">Export</button>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <table class="table table-sm table-responsive w-auto" id="data-preview">
                                <!-- explore.js generates table os sample data -->
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/explore.js') }}"></script>

{% endblock %}
