{% extends "master.html" %}
{% block body %}

<div class="row">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">

                        <h1>Please enter a compound name</h1>
                        <form action="/compound/explore" method="post">
                            <input type="text" id="compound_name"> 
                            <input type="submit" value="Submit"> 
                        </form>

                        <p>{{message}}</p>
                        <img src="/compound/explore/{{compound_name}}/descriptors" />
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
