<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/nucleo/css/nucleo.css') }}"  type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/@fortawesome/fontawesome-free/css/all.min.css') }}" type="text/css">

	<!-- Argon CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/argon.css') }}" type="text/css">

	<!-- D3.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.2/d3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/1.3.0/d3-legend.js" charset="utf-8"></script>

	<!-- Load color palettes -->
	<script src="https://d3js.org/d3-color.v1.min.js"></script>
	<script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
	<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

	<!-- Plotly js -->
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

	{% if result is defined %}
	<!-- Visualization-specific CSS -->
	<link rel="stylesheet" href="/static/css/visualizations/{{ result['name'] }}.css" type="text/css">
	{% endif %}

	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">

	<title>Clinical Trial Capstone</title>
	<link rel="icon" href="{{ url_for('static', filename='img/brand/favicon.png') }}"   type="image/png">
</head>

<body>
	<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
		<div class="scrollbar-inner">
			<!-- Brand -->
			<div class="sidenav-header align-items-center mb-3">
				<a class="navbar-brand" href="javascript:void(0)">
					<img src="{{ url_for('static', filename='img/brand/harvard.png') }}" class="navbar-brand-img" alt="...">
				</a>
			</div>
			<div class="navbar-inner">
				<!-- Collapse -->
				<div class="collapse navbar-collapse" id="sidenav-collapse-main">
					<!-- Nav items -->
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="/">
								<i class="ni ni-tv-2 text-primary"></i>
								<span class="nav-link-text">Home</span>
							</a>
						</li>
						<li class="nav-item">
                            <a class="nav-link active" href="#navbar-dashboards" data-toggle="collapse" role="button"
                               aria-expanded="true" aria-controls="navbar-dashboards">
                                <i class="ni ni-planet text-orange"></i>
                                <span class="nav-link-text">Report</span>
                            </a>
                            <div class="collapse show" id="navbar-dashboards">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a href="/report" class="nav-link">Saved Report</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/report/create" class="nav-link">Create Report</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
<!-- 						<li class="nav-item">
							<a class="nav-link" href="">
								<i class="ni ni-bullet-list-67 text-default"></i>
								<span class="nav-link-text">Drug</span>
							</a>
						</li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="/api">
                                <i class="ni ni-bullet-list-67 text-default"></i>
                                <span class="nav-link-text">API</span>
                            </a>
                        </li>
						<li class="nav-item">
							<a class="nav-link" href="/visualizations">
								<i class="ni ni-chart-pie-35"></i>
								<span class="nav-link-text">Visualizations</span>
							</a>
						</li>
					</ul>
					<!-- Divider -->
					<hr class="my-3">
					<!-- Heading -->
					<h6 class="navbar-heading p-0 text-muted">
						<span class="docs-normal">Data Sources</span>
					</h6>
					<!-- Navigation -->
					<ul class="navbar-nav mb-md-3">
						<li class="nav-item">
							<a class="nav-link" href="" target="_blank">
								<i class="ni ni-ui-04"></i>
								<span class="nav-link-text">FDA</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="" target="_blank">
								<i class="ni ni-ui-04"></i>
								<span class="nav-link-text">DrugCentral</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="" target="_blank">
								<i class="ni ni-ui-04"></i>
								<span class="nav-link-text">DrugBank</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="" target="_blank">
								<i class="ni ni-ui-04"></i>
								<span class="nav-link-text">KEGG</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>

	<div class="main-content" id="panel">
		<!-- Navbar -->
		<nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<!-- Search form -->
					<form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
						<div class="form-group mb-0">
							<div class="input-group input-group-alternative input-group-merge">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-search"></i></span>
								</div>
								<input class="form-control" placeholder="Search" type="text">
							</div>
						</div>
						<button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</form>
					<!-- Navbar links -->
					<ul class="navbar-nav align-items-center  ml-md-auto ">
						<li class="nav-item d-xl-none">
							<!-- Sidenav toggler -->
							<div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main">
								<div class="sidenav-toggler-inner">
									<i class="sidenav-toggler-line"></i>
									<i class="sidenav-toggler-line"></i>
									<i class="sidenav-toggler-line"></i>
								</div>
							</div>
						</li>
						<li class="nav-item d-sm-none">
							<a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
								<i class="ni ni-zoom-split-in"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- Header -->
		<div class="header bg-primary pb-6">
			<div class="container-fluid">
				<div class="header-body">
					<div class="row align-items-center py-4">
						<div class="col-lg-6 col-7">
							<h6 class="h2 text-white d-inline-block mb-0">{{ page_title }}</h6>
							<nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
								<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
									<li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
									<li class="breadcrumb-item"><a href="/">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid mt--6">

			{% block body %}{% endblock %}

		</div>
	</div>

	<!-- Argon scripts -->
 	<!-- Core -->
 	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
 	<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/js.cookie.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.scrollbar/jquery.scrollbar.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery-scrollLock.min.js') }}"></script>

	<!-- Optional JS -->
	<script src="{{ url_for('static', filename='js/clipboard.min.js') }}"></script>
	
	<!-- Argon JS -->
	<script src="{{ url_for('static', filename='js/argon.js') }}"></script>
</body>
</html>