{% extends "master.html" %}
{% block body %}

	<div class="row">
		<div class="col">
			<div class="card card-chart">
				<div class="card-header card-header-danger">
					<div class="ct-chart">

						{% for id in result['classes'].split(',') %}
						<div class="row">
							<div class="col-12">
								<div id="{{ id }}"></div>
							</div>
						</div>
						{% endfor %}

						<!-- <div class="row">
							<div class="col-10"></div>
					  		<div class="col-2">
					  			<form id="companies_form">
									<div class="row checkBoxContainer"></div>
									<button type="submit" class="btn btn-primary">Submit</button>
								</form>
							</div>
						</div> -->

					</div>
				</div>
				<div class="card-body">
					<h4 class="card-title">{{ result['title'] }}</h4>
					<p class="card-category">{{ result['description'] }}</p>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons">bar_chart</i> Created with data from ChemBL
					</div>
				</div>
			</div>
		</div>
	</div>

	{% for script in result['scripts'].split(',') %}
	<script src="/static/js-visualizations/{{ result['name'] }}/{{ script }}"></script>
	{% endfor %}

{% endblock %}
