{% extends "master.html" %}
{% block body %}

	<div class="row">
		<div class="col">
			<div class="card card-chart">
				<div class="card-header card-header-danger">
					<div class="ct-chart">
						

						<div class="row">
					  		<div class="col">Total Companies</div>
					  		<div class="col">
					  			<form id="companies_form">
									<div class="row checkBoxContainer">
									</div>
									<button type="submit" class="btn btn-primary">Submit</button>
								</form>
							</div>
							<div class="col">
								<div></div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div id="{{ result['class'] }}"></div>
							</div>
						</div>
<!-- 						<div class="row">
							<div class="col-12">
								<div id="dotMatrixChart"></div>
							</div>
						</div>


						<div class="container-fluid">
							<div class="row">
								<div class="col-12">
									<div id="bubble-plot-3d"></div>
								</div>
							</div>
						 </div> -->



					</div>
				</div>
				<div class="card-body">
					<h4 class="card-title">{{ result['title'] }}</h4>
					<!-- <p class="card-category">Some cool stuff about drugs</p> -->
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons">bar_chart</i> Created with data from ChemBL
					</div>
				</div>
			</div>
		</div>
	</div>

	{% for script in result['scripts'].split(',') %}
	<script src="/static/js-visualizations/{{ result['name'] }}/{{ script }}"></script>
	{% endfor %}

{% endblock %}
